extends layout

block content
    - var cls = 'myC'
    = '\t\t'
    h1(class='hi-' + cls) #{title}
    = '\n\t\t'
    p Welcome to the #{title}
    = '\n\t\t'
    ul
        each name in myArr
            = '\n\t\t\t'
            li= name
        = '\n\t\t'
    = '\n\t\t'
    footer This is footer content
    = '\n\t'