doctype html
= '\n'
html
    = '\n\t'
    head
        = '\n\t\t'
        title= title
        = '\n\t\t'
        link(rel='stylesheet', href='/stylesheets/style.css')
        = '\n\t'
    = '\n\t'
    body
        = '\n'
        block content
    = '\n'